/* CSS declarations go here */
html, body {
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

html, body, p, div, article, h1, h2, h3, h4, h5, h6, form {
  margin: 0px;
  padding: 0px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #1b1e25;
  color: #fff;
  background-attachment: fixed;


  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
}

/*********
* HEADER *
*********/

header {
  background-color: #262a33;
  position: relative;
  padding: 8px;
  display: flex;
  height: 96px;
  justify-content: left;
  align-items: stretch;
}

#logo-block {
  display: flex;
  align-items: stretch;
}

#header-logo {
  width: 80px;
  margin: 0 20px;
}

header h1 {
  display: block;
  line-height: 80px;
  flex-basis: calc(100% - 80px);
  margin: 0;
  font-size: 40px;
  color: #eee;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

article p {
  padding: 0.5em;
  margin: 1em 0;
}

#home {
  padding: 1em;
}

#home h1 {
  text-align: center;
  display: block;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
