/*
* MATCH INFOS
*/

.match-infos-container {
  background-color: #1f2535;
  margin: 24px auto;
}

.match-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 12px auto;
  padding: 12px;
}

.match-infos div {
  flex-grow: 1;
  flex-shrink: 0;
}

.match-infos div:first-child {
  font-size: 20px;
  flex-grow: 2;
}

/*
*** MATCH SCORE ***
*/

.match-score div:first-child {
  display: flex;
  width: 100%;
  font-size: 24px;
  justify-content: center;
}

.match-score div span {
  margin: 0 24px;
}

.match-score div .radiant-win {
  color: #53cc45;
}

.match-score div .dire-win {
  color: #cc4545;
}

.match-duration {
  display: block;
  margin: auto;
  color: #888;
  text-align: center;
  font-size: 18px;
}

/*
* PLAYER TABLE
*/

thead {
  background-color: #1f2535;
}

th {
  padding: 2px;
  margin: 0;
  height: 40px;
}

tbody tr {
  height: 64px;
}

.player {
  background-color: #292e38;
}

.player:nth-child(even) {
  background-color: #23272f;
}

.player-list {
  width: 100%;
  margin: 24px 0;
}

.player td,
thead th {
  text-align: right;
}

thead .hero-pic,
.player .hero-pic,
thead .level,
.player .level,
thead .player-name,
.player .player-name {
  text-align: left;
}

/*
* PLAYER STATS
*/

/* HERO PIC */
thead .hero-pic,
.player .hero-pic {
  width: 72px;
  padding-left: 4px;
}

.hero-pic img {
  width: 64px;
}

/* LEVEL */
thead .level,
.player .level {
  width: 36px;
}

/* PLAYER NAME */
thead .player-name,
.player .player-name {
  width: 180px;
}

thead .player-name a,
.player .player-name a {
  color: #6faeed;
  text-decoration: none;
}

thead .player-name a:hover,
.player .player-name a:hover {
  color: #0c5fb2;
}

/* KDA */
thead .kills,
.player .kills,
thead .deaths,
.player .deaths,
thead .assists,
.player .assists {
  width: 28px !important;
}

/* NET WORTH */
thead .net-worth,
.player .net-worth {
  color: #e2bb1f;
}

.player .net-worth .tooltip {
  display: none;
}

.player .net-worth:hover .tooltip {
  display: block;
}

.player .kills,
.player .deaths,
.player .assists {
  width: 32px;
}

/* GPM / XPM */

thead .gpm,
.player .gpm {
  color: #ffd989;
}

thead .xpm,
.player .xpm {
  color: #89c2ff;
}

/* BUILDINGS */

thead .building,
.player .building {
  padding-right: 4px;
}
