/****************
* MATCH HISTORY *
****************/

.match-history {
  width: 100%;
  max-width: 1000px;
}

.match-item {
  background-color: #292f3e;
  color: #fff;
  display: flex;
  text-decoration: none;
  height: 60px;
  margin: 2px auto;
  width: 100%;
  box-sizing: border-box;
  border-left: 4px solid #334f92;
  justify-content: space-between;
  align-items: stretch;
  table-layout: fixed;
}

.match-item td {
  width: 33%;
  padding: 12px;
}

.match-item p {
  text-align: center;
}

/*
* 1st COLUMN *
*/

.match-item .hero-icon {
  height: 40px;
  display: block;
}

.match-item .winner::first-letter {
  text-transform: uppercase;
}

/*
* 2nd COLUMN *
*/

.match-item [data-win="victory"] {
  color: #3e933e;
}

.match-item [data-win="defeat"] {
  color: #a34646;
}

.match-item .winner {
  font-size: 16px;
}

.match-item .link {
  color: #6faeed;
  text-decoration: none;
}

.match-item a {
  text-decoration: none;
  color: #fff;
}

.match-item a:hover .link {
  color: #0c5fb2;
}

/* PAGE LINKS */
.page-links {
  width: 80%;
  max-width: 240px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.page-links a {
  flex-basis: 5%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #14161c;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  padding: 4px;
  margin: 2%;
  text-align: center;
}

.page-links a:hover {
  background-color: #222530;
}
